<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h3 class="callout__heading">Ready To Get Started?</h3>
      <p class="callout__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        totam maxime nam eveniet autem alias, asperiores at consequuntur sint
        pariatur?
      </p>
    </div>
    <a href="#" class="btn btn--secondary callout__btn btn--streched"
      >Get Started</a
    >
  </div>
</div>
