<div class="collapsible collapsible--expanded">
    <div class="collapsible__header">
      <h3 class="collapsible__heading">Item </h3>
      <svg class="icon">
        <img class="icon collapsible__chevron" src="/images/chevron.svg" alt="">
      </svg>
    </div>
    <p class="collapsible__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident illo eaque quia, vero minima quis distinctio incidunt quam obcaecati praesentium temporibus corporis alias quas aspernatur tempora, sint doloribus. Veritatis, magni.</p>
</div>