<section class="block block--dark block--skewed-right block-showcase">
  <header>
    <h2 class="block__header">User Friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="images/webp"
        srcset="images/ipad1x.webp 1x, images/ipad2x.webp 2x"
      />
      <source
        type="images/png"
        srcset="images/ipad1x.png 1x, images/ipad2x.png 2x"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <span>
            <svg class="icon icon--primary media__image">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </span>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p class="media__content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
              omnis impedit itaque atque aliquam magnam.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <span>
            <svg class="icon icon--primary media__image">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </span>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p class="media__content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
              omnis impedit itaque atque aliquam magnam.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <span>
            <svg class="icon icon--primary media__image">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </span>
          <div class="media__body">
            <h3 class="media__title">Easy Start</h3>
            <p class="media__content">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia
              omnis impedit itaque atque aliquam magnam.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
