<div class="testimonial card">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/testimonial.jpg" alt="" />
      <span class="icon-container testimonial-icon__container">
        <svg class="icon icon--primary testimonial__icon">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
        debitis quasi fugit minima, sit commodi quo repudiandae obcaecati.
        Quasi, asperiores!
      </p>
      <div class="media">
        <span>
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </span>
        <div class="media__body">
          <h3 class="testimonial__name media__title quote__author">
            Jhone Lumeo
          </h3>
          <p class="testimonial__company quote__company">Mosh Company</p>
        </div>
      </div>
    </blockquote>
  </div>
</div>
