:root {
  --color-secondary: #00d9ff;
  --color-primary: #2584ff;
  --color-accent: #ff3400;
  --color-heading: #210e6b;
  --color-body: #918ca4;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  color: var(--color-body);
  line-height: 1.5;
}

p {
  margin: 0;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*LINK COMPONENT*/
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.25s;
}

.link-arrow:hover::after {
  margin-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* BADGE */
.badge {
  border-radius: 20px;
  color: var(--color-heading);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--small {
  font-size: 1.6rem;
  color: #fff;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* LIST */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin: 1rem;
}

.list--tick {
  list-style-image: url(/images/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--inline .list__item {
    font-size: 1.5rem;
  }

  .list--tick .list__item {
    font-size: 1.8rem;
  }
}

/* ICONS */
.icon {
  width: 4rem;
  height: 4rem;
}

.icon--primary {
  border-radius: 100%;
  fill: var(--color-primary);
}

.icon-container {
  display: inline-flex;
  background: #f3f9fa;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
